body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  height: 90vh;
}
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2vh 3vw 4vh;
  top: 30vh;
  left: 37vw;
  border: 1px solid gray;
}

a {
  text-decoration: none;
  margin-top: 1em;
}

h2 {
  font-weight: 200;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry {
  width: 20vw;
  margin-bottom: 1em;
  padding: 0.4em;
  font-size: calc(0.7vw + 0.4em);
  outline: none;
  border: 0;
  border-bottom: 1px solid grey;
}

.btn {
  background: none;
  width: 20vw;
  padding: 0.4em;
  font-size: calc(1vw + 0.2em);
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0.1px 0.1px 0.5px 0.5px grey;
}

.wrongInput {
  color: lightcoral;
  text-align: center;
  margin: 0;
  padding: 0;
}

#userNameAvailability {
  position: absolute;
}

.hidden {
  display: none;
}
