.confirm-box,
.merge-todo-box {
  position: absolute;
  left: 41.5vw;
  top: 34vh;
  border: 1px solid #000;
  padding-top: 1em;
  align-items: center;
  transition: transform ease-out 200ms;
}
.message {
  font-size: calc(0.8vw + 0.5em);
  text-align: center;
}
.buttons {
  position: relative;
  display: flex;
  padding: 2em;
  width: 17vw;
  height: 4vh;
}
.cancel,
.confirm {
  position: absolute;
  background-size: contain;
  height: 4vh;
  border-radius: 50%;
  width: 4vh;
  cursor: pointer;
}
.cancel {
  left: 4vw;
  background-color: red;
}
.confirm {
  right: 4vw;
  background-color: green;
}

.buttons > div > img {
  height: inherit;
  width: inherit;
  filter: invert(1);
}
.cancel:hover,
.confirm:hover {
  transform: scale(1.1);
}

.blur {
  filter: blur(15px);
  pointer-events: none;
}
.new-title-entry {
  font-size: calc(0.5vw + 0.5em);
  width: 80%;
  margin-top: 3vh;
  padding: 0.2em 0 0 0.4em;
  outline: none;
  background: none;
  border: 0;
  border-bottom: 1px solid black;
}

.merge-todo-box {
  padding: 1em;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 15vh;
}
.cross {
  position: absolute;
  top: -1.4vh;
  right: -1.4vh;
  background-color: white;
  height: 3vh;
  width: 3vh;
  cursor: pointer;
}
.cross:hover {
  transform: scale(1.1);
}
.cross > img {
  height: inherit;
  width: inherit;
}
.merge-button {
  margin-top: 1.5em;
  width: 7vw;
  font-size: calc(0.5vw + 0.5em);
  text-align: center;
  padding: 0.2em;
  cursor: pointer;
  color: white;
  background-color: rgb(4, 192, 4);
}
