body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body .container {
  height: 100%;
  padding-top: 10vh;
}

.header {
  font-size: calc(2.5vw + 1em);
  text-align: center;
  font-weight: 400;
}

.todoContainer {
  display: flex;
  justify-content: space-evenly;
  height: 90%;
}

.todo-list {
  width: 30vw;
  font-size: calc(1vw + 0.5em);
  line-height: 1.5em;
  position: relative;
}

.new-todo-entry {
  width: 15vw;
  height: 4vh;
  border: 0;
  border-bottom: 1px solid grey;
  font-size: inherit;
  outline: none;
  padding: 0.2em 0.2em 0.2em 0;
  text-indent: 0.2em;
}
.new-todo-entry:focus {
  border-bottom: 2px solid grey;
}
.todo-task {
  width: 50vw;
  box-shadow: 0 0 1px 1px grey;
  position: relative;
  height: auto;
}
.hidden {
  transform: scale(0);
}
.show {
  transform: scale(1);
}
.todo-header {
  display: flex;
  font-size: calc(1vw + 0.5em);
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  box-shadow: 0 0 0px 1px grey;
  flex-wrap: wrap;
}
h3 {
  margin: 0.5em;
  display: inline;
}
h6 {
  margin: 0.5em;
  display: inline;
}
.todo-list-item {
  cursor: pointer;
}
.todo-create {
  display: flex;
}
.todo-create > input {
  margin-left: 0.5vw;
  background: 0;
}

.create.btn {
  background: 0;
  margin: 0;
  padding: 0;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  right: 10vw;
  border-radius: 50%;
  outline: none;
  border: 0.5px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px 1px grey;
  color: grey;
  background-color: white;
}
.create.btn > a {
  text-decoration: none;
  margin: 0;
  outline: none;
  color: grey;
  font-size: calc(1vw + 0.3em);
}

.create:hover {
  opacity: 0.6;
  box-shadow: 0 0 1px 1.5px rgb(27, 27, 27);
  cursor: pointer;
  transform: scale(1.3);
}

.todo-body {
  flex-direction: column;
  line-height: 5vh;
  font-size: calc(1vw + 0.4em);
  font-weight: 400;
  padding: 1em 2em 3em 2em;
  margin-bottom: 5vh;
}

.checkTask {
  transform: scale(0);
  position: absolute;
}
.checkbox {
  display: inline-block;
  height: 0.7em;
  width: 0.7em;
  border: 1px solid black;
  margin-right: 0.8em;
  cursor: pointer;
}

.task:hover .checkbox {
  transform: scale(1.1);
}

.task > label:hover {
  transform: scale(1.01);
}
.task > label > span {
  cursor: pointer;
}
.selected {
  font-size: calc(1vw + 0.6em);
  text-shadow: 1px 1px grey;
}

[type='checkbox']:checked + label .checkbox {
  background: black;
  border: 1px solid black;
  box-shadow: inset 0 0 0 2px white;
}

[type='checkbox']:checked ~ span {
  opacity: 0.3;
}
.task {
  display: flex;
  margin-bottom: 1.25em;
  position: relative;
}

.task span {
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: opacity ease-out 200ms;
  cursor: text;
}

.task::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  bottom: -0.3em;
  background: rgb(82, 81, 81);
  opacity: 0.1;
}

[type='checkbox']:checked ~ span::after {
  transform: scale(1);
  transform-origin: left;
}

.task-create {
  display: flex;
  padding: 1em 2em;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.task-name {
  width: 40vw;
}

.task-create > input {
  margin-left: 0.5vw;
  background: 0;
}

.createTask.btn {
  background: 0;
  margin: 0;
  padding: 0;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  outline: none;
  border: 0.5px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px 1px grey;
  color: grey;
  background-color: white;
  position: absolute;
  right: 15vw;
}

.createTask.btn:hover {
  transform: scale(1.4);
  box-shadow: 0 0 1px 1.5px rgb(27, 27, 27);
}

.new-task-entry {
  width: 33vw;
  height: 4vh;
  border: 0;
  border-bottom: 1px solid grey;
  font-size: calc(1vw + 0.4em);
  outline: none;
  padding: 0.2em 0.2em 0.2em 0;
  text-indent: 0.2em;
}

.createTask.btn > a {
  text-decoration: none;
  outline: none;
  color: grey;
  font-size: calc(1vw + 0.5em);
}

.createTask:hover {
  opacity: 0.6;
  box-shadow: 0 0 1px 1.5px grey;
  cursor: pointer;
}
.new-task-entry:focus {
  border-bottom: 2px solid grey;
}

.todo-list-item {
  list-style-type: disc;
  font-weight: 500;
  color: rgb(40, 85, 231);
  opacity: 0.8;
}
.todo-list-item:hover {
  transform: scale(1.02);
  opacity: 1;
}

.deleteTaskImg {
  height: 4vh;
  width: 2vw;
}

.deleteButton {
  height: 4vh;
  width: 4vw;
  cursor: pointer;
}

.deleteTaskImg:hover {
  transform: scale(1.04);
}

.deleteTodoButton {
  height: 4vh;
  width: 4vw;
  cursor: pointer;
  position: absolute;
  right: 0;
  transform: rotate(45deg);
  font-size: 2em;
}

.deleteTodoButton:hover > .deleteBtnTxt {
  color: red;
  font-size: 1.06em;
}

.deleteTaskButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
  height: 4vh;
  width: 4vw;
}
.deleteTaskButton:hover > .deleteTaskBtnTxt {
  color: red;
  font-size: 1.1em;
}

.task-name {
  outline: none;
}
.task-name:focus {
  border-bottom: 1px solid grey;
}
#todo-title {
  padding: 0 2vw 0 0;
  outline: none;
  flex-grow: 1;
}
#todo-title:focus {
  border-bottom: 1px solid grey;
}

.searchContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
}
.searchBox {
  width: 0vw;
  height: 100vh;
  border: 1px solid black;
  transition: width ease-out 200ms;
}

.searchEntry {
  height: 3em;
  width: 100%;
}
#todoSearchText {
  width: 100%;
  font-size: calc(1vw);
  padding: 1em 0.5em 0.2em;
  color: white;
  margin: 0;
  outline: none;
  border: 0;
  border-bottom: 1px solid white;
  background: 0;
  line-height: 0;
}
.searchIcon {
  height: 3em;
  width: 3em;
  background-color: grey;
}

#searchBarToggle {
  display: none;
}

#searchBarToggle:checked + div {
  filter: blur(5px);
  pointer-events: none;
}
#searchBarToggle:checked ~ .searchContainer .searchBox {
  width: 80vw;
  box-shadow: 0 0 7px 1px rgb(136, 135, 135);
  background-color: rgba(2, 2, 2, 0.9);
}

.searchResults {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.searchResult {
  margin-top: 2vh;
  padding: 1em;
  width: 20vw;
  border: 1px solid gray;
  color: white;
  font-weight: 100;
  box-shadow: -1px 0 1px 1px white;
  cursor: pointer;
}
