<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <title>Todo Manager</title>
    <link rel="stylesheet" href="./css/form.css" />
  </head>
  <body>
    <h1 class="header-title">TODO MANAGER</h1>
    <div class="container">
      <h2>Login</h2>
      <p class="wrongInput">__errorMsg__</p>
      <form action="/login" method="POST">
        <div class="formContainer">
          <input
            type="text"
            name="userName"
            class="entry"
            id="userEntry"
            autocomplete="off"
            placeholder="Username..."
          />
          <input
            type="password"
            name="password"
            class="entry"
            id="password"
            placeholder="Password..."
          />
          <input type="submit" class="btn" value="Login" />
          <a href="signup.html">Create an account</a>
        </div>
      </form>
    </div>
  </body>
</html>
